.header__link {
  padding-left: 24px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-decoration: none;
  transition: opacity .4s;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (max-width: 424px) {
  .header__link {
    padding-left: 0;
    font-size: 14px;
    line-height: 1.21;
  }
}