.profile__edit-avatar {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s;
}

@media screen and (max-width: 767px) {
  .profile__edit-avatar {
    margin-right: 0;
    margin-bottom: 26px;
    align-self: center;
  }
}

.profile__edit-avatar:hover {
  background: url(../../../images/edit-avatar.svg) center center no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
}
