.footer {
  max-width: 1200px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 66px 160px 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
