.header__content {
  position: relative;
  padding: 45px 0 41px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.6);
}

@media screen and (max-width: 1023px) {
  .header__content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 424px) {
  .header__content {
    padding: 40px 0 32px;
  }
}
