.auth__login-link {
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  text-decoration: none;
  transition: opacity .4s;
}

.auth__login-link:hover {
  opacity: .6;
}