.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  align-self: center;
  background: url(../../../images/profile-icon-add.svg) center center no-repeat;
  cursor: pointer;
  transition: opacity 0.4s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 36px 0 0;
    width: 282px;
  }
}
