.header {
  max-width: 880px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.6);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding: 28px 30px 32px;
  }
}
